body{
	 background: #5D4157;  /* fallback for old browsers */
     background: -webkit-linear-gradient(left, #A8CABA, #5D4157);
     background: -o-linear-gradient(left, #A8CABA, #5D4157);
     /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, 
     Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to right, #A8CABA, #5D4157);  
}

.row{
	margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;
}

#fotoPerfil img {
    max-width: 80%;
    margin: 0 auto;
    box-shadow: black;
    border-radius: 50%;
    border: 1px solid #888888;
    margin-top: 15px;
    box-shadow: 4px 4px #888888;
}

.descripcion{
	font-family: monospace;
	margin-left: 15px;
}

.header{
	font-family: serif;
}

#infoPersonal{
	text-align: center; 
	display: inline-block; 
	width: -webkit-fill-available;
	width: -moz-available;
	width: 100%;
}

#fotoPerfil{
	max-width: 40%; 
	display: inherit;
}