<div class="row">
	<div class="col s12 m12 l12">
		 <h4 class="header center-align">{{'TITLE_HEAD' | translate}}</h4>
		 	<!-- Dropdown Trigger -->
			<a class='dropdown-button btn indigo darken-3' data-activates='demoDropdown' style="float: right;" dropdown data-hover="false">
			    <img src="img/{{idioma}}.png" alt="{{idioma}}"> {{idioma | uppercase}}
			</a>

			<!-- Dropdown Structure -->
			<ul id='demoDropdown' class='dropdown-content' >
			    <li><a ng-click="cambiarIdioma('es');"><img src="img/es.png" alt="es"> ES</a></li>
			    <li><a ng-click="cambiarIdioma('en');"><img src="img/en.png" alt="en"> EN</a></li>
			    <li><a ng-click="cambiarIdioma('bg');"><img src="img/bg.png" alt="bg"> BG</a></li>
			</ul>
	    <div class="card horizontal" id="infoPersonal">

	      <div class="card-image" id="fotoPerfil">
	         <img materialboxed class="materialboxed responsive-img" width="650" src="{{personalInfo.foto}}" alt="fotoDePerfil" title="Ver foto">
	      </div>
	      <div class="card-stacked">
	        <div class="card-content">	
				<p class="flow-text"><b>{{personalInfo.nombre}}</b></p>
				<span>{{'DEV' | translate}}</span>
				<br><br>
				<i class="fa fa-birthday-cake" aria-hidden="true"></i><span id="descripcion">{{'MONTH' | translate}}</span>
				<br>
				<i class="fa fa-home" aria-hidden="true"></i><span id="descripcion">{{personalInfo.direccion}}</span>
				<br>
				<i class="fa fa-phone" aria-hidden="true"></i><a id="descripcion" href="tel:{{personalInfo.telefono}}" target="_blank">{{personalInfo.telefono}}</a>
				<br>
				<i class="fa fa-envelope" aria-hidden="true"></i><a id="descripcion" href="mailto:{{personalInfo.email}}" target="_blank">{{personalInfo.email}}</a>
				<br>
				<i class="fa fa-skype" aria-hidden="true"></i><span id="descripcion">{{personalInfo.skype}}</span>
				<br>
				<i class="fa fa-github" aria-hidden="true"></i><a id="descripcion"href="{{personalInfo.github}}" target="_blank">{{personalInfo.github}}</a>
				<br>
				<i class="fa fa-linkedin" aria-hidden="true"></i><a id="descripcion" href="{{personalInfo.linkedin}}" target="_blank">{{personalInfo.linkedin}}</a>
	        </div>
	      </div>
	    </div>
	</div>
</div>

<!-- EXPERIENCIA -->
<div class="row">
	<div class="col s12 m12 l12">
		<h4 class="header"><i class="fa fa-handshake-o" aria-hidden="true"></i> {{'EXPERIENCE' | translate}}</h4>
	  <div class="card" ng-repeat="item in experiencia">
	    <div class="card-content">
	      <p><span><b>{{'POSITION' | translate}}: </b></span>{{'POSITION_DESCRIPTION'+$index | translate}}</p>

	      <p ng-show="item.lugar.length > 150"><b>{{'DESCRIPTION' | translate}}: </b></span> {{'PLACE_DESCRIPTION'+$index | translate}}</p>
	      <p ng-show="item.lugar.length < 150"><b>{{'PLACE' | translate}}: </b></span> {{'PLACE_DESCRIPTION'+$index | translate}}</p>

	      <p><b>{{'PERIOD' | translate}}: </b></span>{{'PERIOD_DESCRIPTION'+$index | translate}}</p>
	    </div>
	  </div>
	</div>	
</div>
<!-- FIN EXPERIENCIA -->

<!-- EDUCACIÓN -->
<div class="row">
	<div class="col s12 m12 l12">
		<h4 class="header"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{'EDUCATION' | translate}}</h4>
	  <div class="card" ng-repeat="item in educacion">
	    <div class="card-content">
	      <p><span><b>{{'TITLE' | translate}}: </b></span>{{'TITLE_DESCRIPTION'+$index | translate}}</p>
	      <p><b>{{'PLACE' | translate}}: </b></span>{{'TITLE_PLACE'+$index | translate}}</p>
	      <p><b>{{'PERIOD' | translate}}: </b></span>{{item.periodo}}</p>
	    </div>
	  </div>
	</div>
</div>
<!-- FIN EDUCACIÓN -->

<!-- HABILIDADES -->
<div class="row">
	<div class="col s12 m12 l12">
		<h4 class="header"><i class="fa fa-code" aria-hidden="true"></i> {{'SKILLS' | translate}}</h4>
      <table class="responsive-table bordered centered">
        <thead>
          <tr>
              <th>{{'PERSONAL_SKILLS' | translate}}</th>
              <th>{{'LANGUAGES' | translate}}</th>
              <th>{{'DEV_TECH' | translate}}</th>
              <th>{{'USE_FRAME' | translate}}</th>
          </tr>
        </thead>

        <tbody>
			<tr ng-repeat="item in tecs">
	            <!-- <td>{{habilidades[$index].habilidad}}</td> -->
	            <td ng-show="habilidades[$index].habilidad != null">{{'SKILL_DESCRIPTION'+$index | translate}}</td>
	           	<td ng-show="habilidades[$index].habilidad == null"></td>
	            <!-- <td>{{idiomas[$index].idioma}}</td> -->
	           	<td ng-show="idiomas[$index].idioma != null">{{'LANG_DESCRIPTION'+$index | translate}}</td>
	           	<td ng-show="idiomas[$index].idioma == null"></td>
	            <td>{{tecs[$index].tec}}</td>
	            <td>{{frames[$index].frame}}</td>
	        </tr>
        </tbody>
      </table>
	</div>
</div>
<!-- FIN HABILIDADES -->

